/*Universal*/

body {
  background-color: black;
  color: whitesmoke;
  font-weight: 600;
  display: grid;
  font-family: 'Squada One', cursive;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2rem;
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: white;
  box-shadow: 0 0 6px white;
  color: black;
}

/*Header section*/
#header {
  font-family: 'MuseoModerno', cursive;
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

#header h1 {
  font-size: 5rem;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  position: sticky;
  
}

.navbar ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li a:hover {
  background-color: white;
  box-shadow: 0 0 10px, white;
}

#phone {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  background-color: black;
  border: 2px white;
}

#about {
  text-align: center;
  margin: 15px;
  padding: 10px;
}

#about h2 {
  font-size: 4rem;
  margin: 8px;
}

#about p {
  font-size: 2rem;
}
#about img {
  height: 600px;
}

.info-pic img {
  height: 680px;
  width: auto;
  margin: 15px;
  justify-content: right;
  float: left;
}

.info-pic p {
  float: right;
  width: 400px;
  font-size: 1.5rem;
  margin-left: 15px;
  padding: 10px;
}

/*Form Section*/
#pizza-order {
  margin-top: 20px;
  padding: 20px;
  font-size: 1.5rem;
}

label {
  padding: 15px;
}

#order-btn a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

/*Total Section*/ 

#order-total {
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
}

